# Import library

In [1]:
import pandas as pd
import yaml

# Variable config

## Read yaml file

In [2]:
with open('../config.yaml', 'r') as file:
    config = yaml.safe_load(file)

In [3]:
data_path = config['DATA_PATH'] ## '../data/dress_rental_prices news.csv'

# Read data

In [4]:
df = pd.read_csv(data_path)

In [5]:
df.head()

,numbers,ID,Name,Brand,Colour,Catagories,Price
0,0,74416,Runway stripe dress,Stella McCartney,beige,dresses,111
1,1,73815,Reformation Kourtney Dress,Reformation,beige,dresses,50
2,2,73801,Ivory Viola bridal dress,Ghost,beige,dresses,75
3,3,73718,Pasu Dress - Rhino Tusk,Coucoo,beige,dresses,37
4,4,73605,Ellen,RIXO,beige,dresses,47

# Explore data

## data type

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29997 entries, 0 to 29996
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   numbers     29997 non-null  int64
 1   ID          29997 non-null  int64
 2   Name        29995 non-null  object
 3   Brand       29997 non-null  object
 4   Colour      29997 non-null  object
 5   Catagories  29997 non-null  object
 6   Price       29997 non-null  int64
dtypes: int64(3), object(4)
memory usage: 1.6+ MB

## describe

In [7]:
df.describe(percentiles=[.1, .90, .95, .99])

            numbers            ID         Price
count  29997.000000  29997.000000  29997.000000
mean   14998.000000  42548.336400     61.668800
std     8659.532349  19867.282746     38.138688
min        0.000000    122.000000     11.000000
10%     2999.600000  14777.600000     32.000000
50%    14998.000000  42902.000000     51.000000
90%    26996.400000  68848.400000    102.000000
95%    28496.200000  71589.200000    139.000000
99%    29696.040000  73993.120000    195.000000
max    29996.000000  75024.000000    793.000000

## ydata-profiling

In [8]:
from ydata_profiling import ProfileReport

In [13]:
profile = ProfileReport(df, title="Profiling Report: dress_rental_prices")

In [15]:
profile.to_file("../ydata_profiling/dress_rental_prices_report.html")

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [17]:
profile.to_widgets()

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

## nan value

In [12]:
df.isna().sum()

numbers       0
ID            0
Name          2
Brand         0
Colour        0
Catagories    0
Price         0
dtype: int64